.iphone-13-13-pro-1-child {
    position: absolute;
    top: 79px;
    left: 54px;
    width: 282px;
    height: 219px;
    object-fit: cover;
  }
  .lets-enjoy {
    margin: 0;
  }
  .lets-enjoy-a-container {
    position: absolute;
    top: 351px;
    left: 47px;
    display: inline-block;
    white-space: pre-wrap;
    width: 296px;
    height: 102px;
  }
  .search-the-safest-container {
    position: absolute;
    top: 525px;
    left: 45px;
    font-size: 20px;
    display: inline-block;
    color: #000;
    width: 298px;
    height: 32px;
  }
  .iphone-13-13-pro-1-item {
    position: absolute;
    top: 672px;
    left: 54px;
    border-radius: var(--br-xl);
    background-color: #104063;
    width: 248px;
    height: 74px;
    cursor: pointer;
  }
  .get-started {
    position: absolute;
    top: 691px;
    left: 118px;
    font-size: 22px;
    display: inline-block;
    width: 141px;
    height: 36px;
  }
  .iphone-13-13-pro-1 {
    position: relative;
    border-radius: var(--br-xl);
    background: linear-gradient(184.34deg, #4093ce, #98def3);
    width: 100%;
    height: 844px;
    overflow: hidden;
    text-align: left;
    font-size: 40px;
    color: var(--color-white);
    font-family: var(--font-inter);
  }